<div class="fade">
	<table class="photo">
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/1.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/1.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/2.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/2.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/3.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/3.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/4.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/4.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/5.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/5.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/6.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/6.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/7.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/7.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/8.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/8.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/9.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/9.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/10.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/10.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/11.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/11.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/12.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/12.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/13.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/13.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/14.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/14.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/15.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/15.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/16.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/16.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/17.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/17.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/18.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/18.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/19.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/19.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/20.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/20.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/21.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/21.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/22.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/22.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/23.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/23.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/24.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/24.jpg" width="160"/></a>
			</td>
		</tr>
			<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/25.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/25.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/26.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/26.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/27.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/27.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/28.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/28.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/29.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/29.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/30.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/30.jpg" width="160"/></a>
			</td>
		</tr>
		<tr>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/31.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/31.jpg" width="160"/></a>
			</td>
			<td>
				<a rel="lightbox" data-lightbox="example-set" href="../images/wyk/pp/32.jpg" title="">
				<img class="imgShadow2" rel="lightbox" src="../images/wyk/pp/thumbs/32.jpg" width="160"/></a>
			</td>
		</tr>
	</table>
</div>